@media(min-width: 800px) {
    .burger {
        position: absolute;
        top: -100px
    }
    .nav__ul {
        all: unset;
        position: relative;
        top: -2px;
        right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        opacity: 1;
    }
    .ul__item {
        all: unset;
        margin-right: 25px;
    }
    .ul__item a {
        all: unset;
        color: var(--nav-white);
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 2.2rem;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .ul__item a:hover {
        color: silver;
    }
}